@import "_mixins.scss";

html,
body {
	background-color: gray;
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: flex-start;
}

.side-bar {
	background-color: #3b82f6;
	width: 10%;
	min-width: 100px;
	padding-top: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	.side-buttons {
		@include sideImg();
		//background-color: #f8fafc;
		border-radius: 2px;
		width: 50%;
		min-width: 90px;
		padding-bottom: Min(90px, 50rem);
		margin: 5%;
		cursor: pointer;
	}
	#new-list {
		background-image: url("images/add_white_48dp.svg");
	}
	#schedule {
		background-image: url("images/view_week_white_48dp.svg");
	}
	#brightness {
		background-image: url("images/brightness_4_white_48dp.svg");
	}
}

.main-page {
	background-color: darkgray;
	width: 90%;
}
