@import "_mixins.scss";
@import "_variables.scss";
@import "_side-bar.scss";

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: flex-start;
}

.main-page {
	background-color: #e2e8f0;
	width: 90%;
	display: flex;
	justify-content: left;
	align-items: center;
	.list-page {
		background-color: $pageWhite;
		border-radius: 0 25px 25px 0;
		box-shadow: 2px 2px 5px #d1d5db;
		height: 95%;
		width: 90%;
	}
}
